/hoi4_parser/target/
/hoi4_parser/countries/
/hoi4_parser/game_data.json

.env
CLAUDE.md
game_data.json

*/ai_logs/*
*/countries/*
__pycache__/
*/news_reports/*
*/reports/*
locale/*
/streamer-tools/twitter-feed/ai_logs
